/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content>.card-widget.card-info {
  background-image: url(https://picabstract-preview-ftn.weiyun.com/ftn_pic_abs_v3/a254ccb75e4971329abe1de85b6a46d05bb8966eba79831fdbfb19c8d3d8a7fc4ec14432bd8c88eae9cd0afaffb63186?pictype=scale&from=30113&version=3.3.3.3&fname=p0%202%281%29.png&size=1000);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}

[data-theme="dark"] #aside-content>.card-widget.card-info {
  background-image: url(https://picabstract-preview-ftn.weiyun.com/ftn_pic_abs_v3/a254ccb75e4971329abe1de85b6a46d05bb8966eba79831fdbfb19c8d3d8a7fc4ec14432bd8c88eae9cd0afaffb63186?pictype=scale&from=30113&version=3.3.3.3&fname=p0%202%281%29.png&size=1000);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}

#aside-content>.card-widget.card-info::before {
  background: rgba(241, 206, 206, 0.165);
  backdrop-filter: blur(2px);
  /* 关键：背景模糊 */
  -webkit-backdrop-filter: blur(10px);
  /* Safari 兼容 */
  opacity: 1;
  /* 确保伪元素本身不透明，用rgba控制背景透明度 */
}


/* 波浪css */
.post .post-bg .main-hero-waves-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -8px;
  /* 波浪距离 header 底部的偏移 */
}

.post .post-bg .waves-area .waves-svg {
  width: 100%;
  height: 60px;
  /* 波浪高度 */
}

.post .post-bg .parallax>use {
  animation: move-forever 30s cubic-bezier(.55, .5, .45, .5) infinite;
  /* 波浪动画 */
}

.post .post-bg .parallax>use:nth-child(1) {
  fill: var(--efu-background);
  opacity: .5;
  animation-duration: 7s;
  animation-delay: -2s;
}

.post .post-bg .parallax>use:nth-child(2) {
  fill: var(--efu-background);
  opacity: .6;
  animation-duration: 10s;
  animation-delay: -3s;
}

.post .post-bg .parallax>use:nth-child(3) {
  fill: var(--efu-background);
  opacity: .7;
  animation-duration: 13s;
  animation-delay: -4s;
}

.post .post-bg .parallax>use:nth-child(4) {
  fill: var(--efu-background);
  animation-duration: 20s;
  animation-delay: -5s;
}