/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
  background-image: url(https://picabstract-preview-ftn.weiyun.com/ftn_pic_abs_v3/a254ccb75e4971329abe1de85b6a46d05bb8966eba79831fdbfb19c8d3d8a7fc4ec14432bd8c88eae9cd0afaffb63186?pictype=scale&from=30113&version=3.3.3.3&fname=p0%202%281%29.png&size=1000);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background-image: url(https://picabstract-preview-ftn.weiyun.com/ftn_pic_abs_v3/a254ccb75e4971329abe1de85b6a46d05bb8966eba79831fdbfb19c8d3d8a7fc4ec14432bd8c88eae9cd0afaffb63186?pictype=scale&from=30113&version=3.3.3.3&fname=p0%202%281%29.png&size=1000);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}

#aside-content > .card-widget.card-info::before {
  background: rgba(241, 206, 206, 0.165);
  backdrop-filter: blur(2px); /* 关键：背景模糊 */
  -webkit-backdrop-filter: blur(10px); /* Safari 兼容 */
  opacity: 1; /* 确保伪元素本身不透明，用rgba控制背景透明度 */
}


