/* ---------- 渐进式头图加载 ---------- */

/* header 与背景容器全屏 */
#page-header.not-top-img,
.pl-container {
  height: 100vh;
}

/* 半屏模式 */
#page-header.not-top-img.expand-to-full,
.pl-container.expand-to-full {
  height: 50vh !important;
}

/* 背景容器 */
.pl-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;
  will-change: opacity, transform, filter;
  animation: blur-to-clear 2.5s cubic-bezier(.6,.25,.25,1) 0s 1 backwards,
             scale 2.2s cubic-bezier(.6,.1,.25,1) .5s 1 backwards;
  opacity: calc(1 - var(--process) * 1) !important;
  transform: scale(calc(1 + var(--process) * .1));
  filter: blur(calc(var(--process) * 10px));
}

/* 图片层 */
.pl-img {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
  transition: opacity 1s;
  will-change: transform, opacity;
}
.pl-visible { opacity: 1; }
.pl-blur { filter: blur(50px); }

/* 视频层占位 */
.pl-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAKUlEQVQImU3IMREAIAgAwJfNkQCEsH8cijjpMf6vnXlQaIiJFx+omEBfmqIEZLe2jzcAAAAASUVORK5CYII=);
}
.pl-video.pl-visible { display: block; }


/* 空心倒三角箭头 */
.scroll-down-arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  z-index: 101;
  cursor: pointer;
  animation: float 1.5s ease-in-out infinite;
  transition: opacity 0.3s;
}

/* 创建圆润的对勾样式倒三角 */
.scroll-down-arrow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-radius: 3px;
  transform: rotate(-45deg) scale(0.7);
  box-sizing: border-box;
}

/* 反转动画效果 - 修改后 */
@keyframes float {
  0%, 100% { 
    transform: translateX(-50%) translateY(-15px); /* 下浮距离增大 */
    opacity: 0.9; /* 下浮时较深 */
  }
  50% { 
    transform: translateX(-50%) translateY(5px); /* 上浮距离增大 */
    opacity: 0.4; /* 上浮时较浅 */
  }
}


/* 背景渐变动画 */
@keyframes blur-to-clear {
  0% { filter: blur(50px); opacity: 1; }
  100% { filter: blur(0); opacity: 1; }
}
@keyframes scale {
  0% { transform: scale(1.5) translateZ(0); opacity: 0; }
  to { transform: scale(1) translateZ(0); opacity: 1; }
}





